{% load static %}
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>{% block title %}Flowforge{% endblock %}</title>

    <!-- Favicons -->
    <!-- PNG versions -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'frontend/favicons/favicon-16x16.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'frontend/favicons/favicon-32x32.png' %}"
    />
    <!-- Apple Touch Icon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'frontend/favicons/favicon-180x180.png' %}"
    />

    <!-- Bootstrap -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'frontend/css/flowforge.css' %}" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />

    <!-- jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        margin: 0;
        overflow-x: hidden;
      }
      .sidebar-full-height {
        min-height: 100vh;
      }
    </style>
  </head>
  <body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="{% static 'frontend/logos/Flowforge-icon-colour.png' %}"
            alt="Logo"
            width="30"
            height="30"
            class="d-inline-block align-text-bottom"
          />
          <span class="text-primary" style="font-family: Bebas Neue"
            >Flowforge</span
          >
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Team: Example Team
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Another Team</a></li>
            <li><a class="dropdown-item" href="#">Third Team</a></li>
            <li><a class="dropdown-item" href="#">Last Team</a></li>
          </ul>
        </li>
          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}

    <main class="d-flex flex-nowrap">
      <div
        class="d-flex flex-column flex-shrink-0 bg-body-tertiary sidebar-full-height"
        style="width: 4.5rem"
      >
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
          <li>
            <a
              href="#"
              class="nav-link py-3 border-bottom rounded-0"
              title="Plans"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
            >
              <i class="bi bi-clipboard"></i>
            </a>
          </li>
          <li class="nav-item">
            <a
              href="#"
              class="nav-link active py-3 border-bottom rounded-0"
              aria-current="page"
              title="Venues"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
            >
              <i class="bi bi-map"></i>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="nav-link py-3 border-bottom rounded-0"
              title="Locations"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
            >
              <i class="bi bi-pin-map"></i>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="nav-link py-3 border-bottom rounded-0"
              title="Activities"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
            >
              <i class="bi bi-fast-forward"></i>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="nav-link py-3 border-bottom rounded-0"
              title="Equipment"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
            >
              <i class="bi bi-bicycle"></i>
            </a>
          </li>
        </ul>
      </div>

      {% block content %} {% endblock %}
    </main>
    {% block footer %} {% endblock %}

    <script>
      $(document).ready(function () {
        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function () {
          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          $(".navbar-burger").toggleClass("is-active");
          $(".navbar-menu").toggleClass("is-active");
        });

        // Initialize Bootstrap tooltips
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
      });
    </script>
  </body>
</html>
