{% load static %}
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Flowforge{% endblock %}</title>
        
        <!-- Favicons -->
        <!-- PNG versions -->
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'frontend/favicons/favicon-16x16.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'frontend/favicons/favicon-32x32.png' %}">
        <!-- Apple Touch Icon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'frontend/favicons/favicon-180x180.png' %}">

        <!-- Bulma -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">

    </head>
    <body>
        {% block navbar %}
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="{% static 'frontend/logos/Flowforge-logo-horizontal-colour.png' %}" alt="Flowforge Logo">
                </a>
            </div>
        </nav>
        {% endblock %}
        
        {% block content %}
        {% endblock %}

        {% block footer %}
        {% endblock %}
    </body>
</html>
